[Unit]
Description=Fabricon gunicorn daemon

[Service]
Type=simple
User=nginx
ExecStart=/var/www/html/fabricon-website/backend/server_config/gunicorn/gunicorn_start.sh

[Install]
WantedBy=multi-user.target