[Unit]
Description=Fabricon gunicorn daemon

[Service]
# EnvironmentFile=-/etc/environment
# WorkingDirectory=/root/fabricon-website/backend/
Type=simple
User=root
ExecStart=/var/www/html/fabricon-website/backend/server_config/gunicorn/gunicorn_start.sh
Restart=always

[Install]
WantedBy=multi-user.target