<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website for Fabricon of Missoula, Montana">
    <meta name="author" content="Blair Gemmer, Fabricon">
    <meta name="keywords" content="fabricon, fabric, construction,  consulation, contract,tensile, awnings, canopies, curtains, fabric structures, screens, tents, tipis, missoula, montana, missoula montana, fabricon missoula montana, mark welander, mark, welander, blair gemmer, blair, gemmer" />
    <meta name="description" content="Missoula Fabric Consulting, Contracting, and Construction." />
    <meta name="resource-type" content="document" />
    <meta name="robots" content="index, follow" />
    <meta  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabricon of Missoula, Montana.</title> 

    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    
      <!-- Loader -->

      <div class="loader">
        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="loader-brand"> 
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>
      </div>

      <!-- Header -->

      <header id="top" class="header-home">
        <div class="brand-panel">
          <a href="#top" class="brand js-target-scroll">
            <a href="index.html"><img src="img/fabricon_logo_lg.svg" height=100% width=100% /></a>
            <!-- go<span class="text-primary">.</span>arch -->
          </a>
          <div class="brand-name">fabricon</div>
          <div class="slide-number">
            <span class="current-number text-primary">0<span class="count">1</span></span>
            <sup><span class="delimiter">/</span> 0<span class="total-count"></span></sup>
          </div>
        </div>
        <div class="header-phone"><a class="telephone" href="tel:+14067288300">+1 (406) 728-8300</a></div>
        <div class="vertical-panel"></div>
        <div class="vertical-panel-content">
          <div class="vertical-panel-info">
              <div class="vertical-panel-title">MISSOULA - MONTANA</div>
              <div class="line"></div>
           </div>
          <ul class="social-list">
            <li><a href="https://www.linkedin.com/company/fabricon-llc" class="fa fa-linkedin" target=_blank></a></li>
            <li><a href="https://www.facebook.com/Fabricon-LLC-110448395686050/" class="fa fa-facebook" target=_blank></a></li>
            <li><a href="https://plus.google.com/105033875772747195888" class="fa fa-google-plus" target=_blank></a></li>
           </ul>  
        </div> 

        <!-- Navigation Desctop -->

        <nav class="navbar-desctop visible-md visible-lg">
          <div class="container">
            <a href="#top" class="brand js-target-scroll">
              <!-- <span class="text-primary">fabric</span>on -->
              <img src="img/fabricon_logo_lg.svg" height="100%" width="10%" />
              <!-- go<span class="text-primary">.</span>arch -->
            </a>
            <ul class="navbar-desctop-menu">
              <!-- <li class="active">
                <a href="index.html">Home</a>
              </li> -->
              <li>
                <a href="products.html">Products</a>
                <ul>
                  <li><a href="fabric_structures.html">Fabric Structures</a></li>
                  <li>
                    <a href="curtains_screens_facades.html">Curtains, Screens, and Facades</a>
                  </li>
                  <li>
                    <a href="awnings_canopies.html">Awnings and Canopies</a>
                  </li>
                  <li>
                    <a href="custom_lines.html">Custom Lines</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="services.html">Services</a>
              </li>  
              <li>
                <a href="portfolio.html">Portfolio</a>
                <ul>
                  <li><a href="case_studies.html">Case Studies</a></li>
                  <li>
                    <a href="client_list.html">Client List</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="knowledge.html">Knowledge</a>
              </li>
              <li>
                <a href="about.html">About</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Navigation Mobile -->

        <nav class="navbar-mobile">
          <a href="#top" class="brand js-target-scroll">
            <!-- go<span class="text-primary">.</span>arch -->
            <!-- <a href="#top" class="brand js-target-scroll"><span class="text-primary">fabric</span>on -->
            <a href="index.html"><img src="img/fabricon_logo_lg.svg" height="100%" width="10%" /></a>
          </a>

          <!-- Navbar Collapse -->

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mobile">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-mobile"> 
            <ul class="navbar-nav-mobile">
              <li>
                <a href="products.html">Products</a>
                <ul>
                  <li><a href="fabric_structures.html">Fabric Structures</a></li>
                  <li>
                    <a href="curtains_screens_facades.html">Curtains, Screens, and Facades</a>
                  </li>
                  <li>
                    <a href="awnings_canopies.html">Awnings and Canopies</a>
                  </li>
                  <li>
                    <a href="custom_lines.html">Custom Lines</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="services.html">Services</a>
              </li>  
              <li>
                <a href="portfolio.html">Portfolio</a>
                <ul>
                  <li><a href="case_studies.html">Case Studies</a></li>
                  <li>
                    <a href="client_list.html">Client List</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="knowledge.html">Knowledge</a>
              </li>
              <li>
                <a href="about.html">About</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </nav> 
      </header>

      {% block content %}{% endblock %}

  <!-- SCRIPTS -->

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.magnific-popup.js"></script>
  <script src="js/owl.carousel.min.js"></script>

  <!-- SLIDER REVOLUTION -->
  <script src="js/rev-slider/jquery.themepunch.tools.min.js"></script>
  <script src="js/rev-slider/jquery.themepunch.revolution.min.js"></script>

  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
  <script src="js/rev-slider/revolution.extension.actions.min.js"></script>
  <script src="js/rev-slider/revolution.extension.carousel.min.js"></script>
  <script src="js/rev-slider/revolution.extension.kenburn.min.js"></script>
  <script src="js/rev-slider/revolution.extension.layeranimation.min.js"></script>
  <script src="js/rev-slider/revolution.extension.migration.min.js"></script>
  <script src="js/rev-slider/revolution.extension.navigation.min.js"></script>
  <script src="js/rev-slider/revolution.extension.parallax.min.js"></script>
  <script src="js/rev-slider/revolution.extension.slideanims.min.js"></script>
  <script src="js/rev-slider/revolution.extension.video.min.js"></script>
  <script src="js/interface.js"></script> 
  </body>
</html>