<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Website for Fabricon of Missoula, Montana">
		<meta name="author" content="Blair Gemmer and Evin Özer, Fabricon">
		<meta name="keywords" content="fabricon, fabric, construction,  consulation, contract,tensile, awnings, canopies, curtains, fabric structures, screens, tents, tipis, missoula, montana, missoula montana, fabricon missoula montana, mark welander, mark, welander, evin ozer, ozer, evin özer, özer, blair gemmer, blair, gemmer" />
		<meta name="description" content="Missoula Fabric Consulting, Contracting, and Construction." />
		<meta name="resource-type" content="document" />
		<meta name="robots" content="index, follow" />

		{% if page.title %}
		<title>{{ page.title }} - Fabricon of Missoula, Montana.</title>
		{% else %}
		<title>Fabricon of Missoula, Montana.</title>
		{% endif %}


		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		
		<!-- Custom styles for this template -->
	<link href="/static/css/carousel.css" rel="stylesheet">

	<!-- Fabricon-specific styles -->
	<link href="/static/css/fabricon.css" rel="stylesheet">

	<!-- Favicon -->
	<link rel="SHORTCUT ICON" href="/static/img/logos/mt_logo_transparent_favicon.png">
	</head>

	<body role="document">
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">	
				<div class="navbar-header">
					<div class="fabricon-brand-motto">					
						<a href="/">
							<img class="fabricon-brand" src="/static/img/logos/mt_logo_lg_transparent_all.png" />
						</a>
						<img class="fabricon-motto" src="/static/img/logos/fabricon_motto_white.png" />
						<img class="made-in-montana-logo" src="/static/img/logos/made_in_montana.png" />
					</div>

					<div class="container">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>	
					<div id="navbar" class="navbar-collapse collapse">
						<ul id="navbar-menu-items" class="nav navbar-nav">
							{% block menuitems %}{% endblock %}				
						</ul>
					</div>
				</div>
			</div>
		</nav>		

		<div class="master-content" role="main">
			<div class="content-container">
				<div id="navigator-container" class="container-fluid fabricon-page">
					{% if page.images|length  > 0 %}
						<div class="page-content">
							{% block carousel %}{% endblock %}			
						</div>
					{% endif %}
					<div id="navigator-header" class="page-header">
						<h1 class="jumbotron">{{ page.jumbotron }}</h1>
					</div>
					<div class="page-content">						
						{% block content %}
							{{page.content | safe}}
						{% endblock %}
					</div>
					<hr>
					<div class="page-content">
						<footer class="footer">
							<h6 class="centered">Copyright © <script>document.write(new Date().getFullYear());</script> Fabricon, LLC. All Rights Reserved 

							<br />
							<br />

							<address>1021 Ronan Street, Missoula, MT. 59801</address> | <a href="tel:+14067288300">(406) 728-8300</a> | <a href="mailto:fabricon@montana.com">fabricon@montana.com</a> 

							<br />
							<br />

							Designed by <a href="http://evinozer.com" target=_blank>Evin Özer</a> and <a href="http://blairgemmer.com" target=_blank>Blair Gemmer</a> | Developed by <a href="http://intelligen.technology" target=_blank>IntelligenTechnology</a></h6>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</body>

	

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script type="text/javascript"  src="/static/js/fabricon.ui.js"></script>

</html>