{% extends "base.html" %}

{% block menuitems %}
<li class="menuitem"><a href="/">Home</a></li>
<li class="menuitem"><a href="/about">About</a></li>
<li class="active menuitem"><a href="/contact">Contact</a></li>
<li class="menuitem"><a href="/products">Products</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid fabricon-page">
    <script type="text/javascript">
        $("#contact_form").validate();
    </script>
    <div class="page-content">        
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <iframe class="contact_map" width='425' height='350' frameborder='0' scrolling='no'  marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=1021 Ronan Street, Missoula, MT. 59801&amp;output=embed'></iframe>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="form_div">
                    <form method="post" name="contact" id="contact_form" action="https://formspree.io/bill_23@mailinator.com">
                        <div>                            
                            <input type="text" id="contact_name" name="name" placeholder="Full Name" minlength="2" required>
                            <span class="error">This field is required.</span>
                        </div>
                        <div>                            
                            <input type="email" id="contact_email" name="_replyto" placeholder="address@email.com" required>
                            <span class="error">A valid email address is required.</span>
                        </div>
                        <div>                            
                            <input type="text" id="contact_subject" name="_subject" placeholder="Subject" required>
                            <span class="error">This field is required.</span>
                        </div>
                        <div>                            
                            <textarea id="contact_message" name="message" placeholder="Type a message here..." required></textarea>
                            <span class="error">This field is required.</span>
                        </div>
                        <input type="text" name="_gotcha" style="display:none" />
                        <div id="contact_submit">
                            <button type="submit">Submit</button>
                        </div>
                    </form> 
                </div> 
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            </div>
        </div>        
    </div>
</div>
{% endblock %}