<footer>
	<h6 class="centered nolinks">Copyright © <script>document.write(new Date().getFullYear());</script> Fabricon, LLC. All Rights Reserved <address>1021 Ronan Street, Missoula, MT. 59801</address> <a <span id="method2">m<b>@</b>e@d<b>no</b>oma<b>.com</b>in.com</span> | <a <span id="method1">m<b>@</b>e@d<b>no</b>oma<b>.com</b>in.com</span>| Designed by <a href="http://www.evinozer.com">Evin Özer</a> and 
	
	
	<a href="http://blairgemmer.com">Blair Gemmer</a></h6>
	
	
	
	
	<script type="text/javascript">
<!--
var s="=b!isfg>#nbjmup;gbcsjdpoAnpoubob/dpn#?gbcsjdpoAnpoubob/dpn=0b?";
m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1);document.getElementById('method1').innerHTML=(m);
//-->


<!--
var s="=b!isfg>#ufm;,25178399411#?)517*!839.9411=0b?";
m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.getElementById('method2').innerHTML=(m);
//-->




</script>
</footer>